h1 Create new Shape

h3 New Shape

form(name="new-shape", method="post")
  p Shape Name 
  input(type="text", name="name")
  p Shape Colour
  input(type="text", name="colour")
  p
  input(type="submit", value="New Shape", target="_blank")